:root {
  font-family: sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (min-width: 481px) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff !important;
  }

  #root {
    max-width: 480px;
  }
}
